body {
    background-color: whitesmoke;
}

.container {
    width: 80%;
    margin: 1em auto;

    nav {
        display: flex;
        justify-content: space-between;
        background-color: #eee;
        padding: 1em;
    }

    nav>a.logo {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;
    }

    .links {
        display: flex;
        justify-content: space-evenly;
    }

    .links a {
        margin: auto 2em;
        text-decoration: none;
        font-weight: bold;
    }

    .blog-link a {
        text-decoration: none;
        text-transform: capitalize;
    }

    .blog-link a {
        text-decoration: none;
        text-transform: capitalize;
    }

    .comment {
        color: #777;
    }
}