body {
    background-color: whitesmoke;
}

.container {
    width: 80%;
    margin: 1em auto;

    nav {
        display: flex;
        justify-content: space-between;
        background-color: #eee;
        padding: 1em;
    }

    .links {
        display: flex;
        justify-content: space-evenly;
    }

    .links div {
        margin: auto 2em;
    }
}